MijnPythonScripts/Snippets/XmlXsd/FMUTIServiceComplexTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by CEDS (ING Global Procurement Bank) -->
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by ING Bank (ING Bank) -->
<!-- Version History: 
06-03-08, TSS, v01 	New. 
27-03-08, TSS, v02	Updated to support type CoverFXExposureProcessRequest version 10.
15-05-08, TSS, v03	Added type MarkupInformationFX, updated to type ExchangeRate to add optional markupInformation element.
					updated CoverFXExposureProcessRequest version enumerations to add version 20. 
21-05-08, TSS, v04	Added types MarkupInformationMM, CoverFXExposureProcessRequest version 10, MMCoverExposure, 
					MMFunding, CaptureMMInternalFundingRequest version 10, CaptureMMExternalFundingRequest version 10.
07-05-10, MvH, v05	Added optional fields OriginatingTradeId and entityToBeCovered to CoverMMExposureRequest and CoverFXExposureRequest.
-->
<schema xmlns:fm="FinancialMarkets" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="FinancialMarkets" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<simpleType name="Currency">
		<restriction base="string">
			<length value="3"/>
		</restriction>
	</simpleType>
	<complexType name="Base_Info">
		<sequence>
			<element name="requestId" type="string">
				<annotation>
					<documentation>Unique id generated by the requester</documentation>
				</annotation>
			</element>
			<element name="requester" type="string">
				<annotation>
					<documentation>Source system reference where the request originated from, i.e. SUMMIT, SOPHIS, MUREX</documentation>
				</annotation>
			</element>
			<element name="messageType">
				<annotation>
					<documentation>REQUEST, REPLY or INFO</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="REQUEST"/>
						<enumeration value="REPLY"/>
					</restriction>
				</simpleType>
			</element>
			<element name="responseRequired" minOccurs="0">
				<annotation>
					<documentation>Y or N. Only relates to requests.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="Y"/>
						<enumeration value="N"/>
					</restriction>
				</simpleType>
			</element>
			<element name="requestTimeStamp" type="dateTime">
				<annotation>
					<documentation>Timestamp when the request was initiated</documentation>
				</annotation>
			</element>
			<element name="replyTimeStamp" type="dateTime" minOccurs="0">
				<annotation>
					<documentation>Timestamp the reply was generated, sent</documentation>
				</annotation>
			</element>
			<element name="destination" type="string" minOccurs="0">
				<annotation>
					<documentation>To be used in combination with messageType 'INFO'</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="GenerateUTIRequest">
		<complexContent>
			<extension base="fm:Base_Info">
				<sequence>
					<element name="tradeDetails" type="fm:TradeDetails">
						<annotation>
							<documentation>The exposure transaction details. This is a repeating group to cover a batch delivery.</documentation>
						</annotation>
					</element>
					<element name="reportingDetails" type="fm:ReportingDetails" minOccurs="0"/>
					<element name="replyDetails" type="fm:ReplyDetails" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CustomData">
		<sequence>
			<element name="name" type="string">
				<annotation>
					<documentation>additional information data name</documentation>
				</annotation>
			</element>
			<element name="value" type="string">
				<annotation>
					<documentation>additional information data value</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="TradeDetails">
		<annotation>
			<documentation>Trade details necessary for the UTI generating service.</documentation>
		</annotation>
		<sequence>
			<element name="dealingLocation" type="string">
				<annotation>
					<documentation>The location where the deal was concluded, i.e. SINGAPORE, AMSTERDAM or NEWYORK</documentation>
				</annotation>
			</element>
			<element name="productTypes">
				<annotation>
					<documentation>ACR and/or UPI Product type</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="productType" maxOccurs="2">
							<complexType>
								<sequence>
									<element name="id" type="string"/>
									<element name="type">
										<annotation>
											<documentation>ACR or UPI</documentation>
										</annotation>
										<simpleType>
											<restriction base="string">
												<enumeration value="ACR"/>
												<enumeration value="UPI"/>
											</restriction>
										</simpleType>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="tradeIdentifiers">
				<annotation>
					<documentation>DealCapture and/or InceptionId</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="tradeId" maxOccurs="2">
							<complexType>
								<sequence>
									<element name="id" type="string">
										<annotation>
											<documentation>TradeId</documentation>
										</annotation>
									</element>
									<element name="type">
										<annotation>
											<documentation>dealCaptureId or inceptionId</documentation>
										</annotation>
										<simpleType>
											<restriction base="string">
												<enumeration value="DealCaptureId"/>
												<enumeration value="InceptionId"/>
											</restriction>
										</simpleType>
									</element>
									<element name="systemId">
										<annotation>
											<documentation>The name of the system that genereated the id</documentation>
										</annotation>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="party" type="fm:Party_FM1.0" minOccurs="2" maxOccurs="2">
				<annotation>
					<documentation>party section listing both the ING and Counterparty entity in terms of GRID or LEI.</documentation>
				</annotation>
			</element>
			<element name="books">
				<annotation>
					<documentation>FrontOffice and/or Finance book</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="book" maxOccurs="2">
							<complexType>
								<sequence>
									<element name="id">
										<annotation>
											<documentation>indicates the book name</documentation>
										</annotation>
									</element>
									<element name="type">
										<annotation>
											<documentation>At least one of two types of books is required. The FrontOffice book or the Finance book.</documentation>
										</annotation>
										<simpleType>
											<restriction base="string">
												<enumeration value="FrontOffice"/>
												<enumeration value="Finance"/>
											</restriction>
										</simpleType>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="customData" type="fm:CustomData" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>custom information in the form of name/value pairs. For certain product types extra trade details are necessary to determine who is generating party. For instance the payerParty. It would then be for instance  name='payerParty' and value='CP'</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PartyRef">
		<sequence>
			<element name="partyId" type="string">
				<annotation>
					<documentation>A party identifier, such as an application specific code or a swift code.</documentation>
				</annotation>
			</element>
			<element name="partyIdType" type="string">
				<annotation>
					<documentation>Identifies the system of partyId used for this party.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PartyRef_FM1.0">
		<sequence>
			<element name="partyId" type="string">
				<annotation>
					<documentation>If available the GRID identifier should be supplied. Otherwise the name of the party as known in the requester system</documentation>
				</annotation>
			</element>
			<element name="partyIdType">
				<annotation>
					<documentation>Perferably GRID. Also VIDS and KONDOR are supported.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="GRID"/>
						<enumeration value="LEI"/>
						<enumeration value="SMM"/>
						<enumeration value="BTS"/>
						<enumeration value="KBR"/>
						<enumeration value="MUR"/>
						<enumeration value="VID"/>
					</restriction>
				</simpleType>
			</element>
			<element name="domain" minOccurs="0">
				<annotation>
					<documentation>An optional attribute of the partyIdtype.</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value=""/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	<complexType name="Party_FM1.0">
		<annotation>
			<documentation>A type defining party identifier information. Any number of IDs may be included.</documentation>
		</annotation>
		<sequence>
			<element name="partyRef" type="fm:PartyRef_FM1.0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="id" use="required">
			<annotation>
				<documentation>ING entity or Counterparty  id. id is one of two values: 'ING' or 'CP'.</documentation>
			</annotation>
			<simpleType>
				<restriction base="ID">
					<enumeration value="ING"/>
					<enumeration value="CP"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>
	<complexType name="ReportingDetails">
		<sequence>
			<element name="uniqueTradeIdentifiers" minOccurs="0">
				<complexType>
					<sequence>
						<element name="uniqueTradeIdentifier" maxOccurs="unbounded">
							<annotation>
								<documentation>Consists of a namespace and identifier. The namespace is the first component of the USI. It is a ten-digit numeric identifier that consists of a three-digit prefix followed by a seven-digit identifier unique to each three-character prefix.</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="type">
										<annotation>
											<documentation>Indictates whether it is the 'current' or the 'prior' UTI.</documentation>
										</annotation>
										<simpleType>
											<restriction base="string">
												<enumeration value="current"/>
												<enumeration value="prior"/>
											</restriction>
										</simpleType>
									</element>
									<element name="issuer" type="string">
										<annotation>
											<documentation>The issuer is also known as the namespace. Namespace: 10!an (Fixed length of 10; numeric characters and Uppercase letters without special characters are allowed).</documentation>
										</annotation>
									</element>
									<element name="id" type="string">
										<annotation>
											<documentation>Transaction Identifier: 32!an (Fixed length of 32; numeric characters and Uppercase letters without special characters are allowed)</documentation>
										</annotation>
									</element>
									<element name="fullUTI" type="string">
										<annotation>
											<documentation>concatenation of the issuer and the id. </documentation>
										</annotation>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="generatingParty" minOccurs="0">
				<annotation>
					<documentation>Reference to one of the two parties indicating which is the repsonsible UTI generating party. A third option is that the trading platform generated the UTI. Possible values: 'ING', 'Counterparty' and 'Platform'</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="ING"/>
						<enumeration value="CounterParty"/>
						<enumeration value="Platform"/>
					</restriction>
				</simpleType>
			</element>
			<element name="reportingRegimes" minOccurs="0">
				<complexType>
					<sequence>
						<element name="reportingRegime" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element name="supervisoryBodyName">
										<annotation>
											<documentation>short name of the reporting regime, e.g. CFTC, EMIR, MAS</documentation>
										</annotation>
										<simpleType>
											<restriction base="string"/>
										</simpleType>
									</element>
									<element name="supervisoryBodyCategory" type="string" minOccurs="0">
										<annotation>
											<documentation>Category of the supervisoryBody belongs to. E.g. 'BroadBased'.</documentation>
										</annotation>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="ReplyDetails">
		<sequence>
			<element name="reasons" minOccurs="0">
				<complexType>
					<sequence>
						<element name="reason" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element name="reasonCode" type="string"/>
									<element name="reasonDescription" type="string" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
